.search-bar {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(0,0,0, 0.04);
    padding: 8px 12px;
    border-radius: 12px;
}

.search-bar__icon {
    flex: 0 0 auto;
    display: inline-block;
    height: 1rem;
    margin-right: 0.5rem;
    opacity: 0.7;
}

.search-bar__input {
    -webkit-appearance: none;
    appearance: none;
    flex: 1 1 auto;
    background-color: transparent;
    border: none;
}

.search-bar__label {
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0.4;
}
