#error-report {
    background-color: var(--header-background);
    box-shadow: 0 2px 4px 1px rgba(0,0,0, 0.4);
    padding: 2.2rem 3rem;
    border-radius: 0.8rem;
    width: 480px;
    max-width: 50vw;
}

#error-report-stack {
    color: #C22210;
    white-space: pre-wrap;
}
